<div>

{{!-- post --}}
    <div class="card">
        <h2>{{post.title}}</h2>
        <h4>By {{post.user.username}}</h4>
        <h4>{{format_date post.createdAt}}</h4>
        <p>{{post.text}}</p>
    </div>
{{!-- comments --}}
    <div class="comments card">
        <h4>Comments</h4>
        {{#each post.comments as |comment|}}
        <p>{{comment.text}}</p>
        <p>{{comment.user.username}}</p>
        {{/each}}
    </div>
{{!-- add a comment --}}
        {{#if loggedIn}}
    <div class="card">
        <form class="form comment-form">
            <div class="form-group">
                <label for="comment-text">Add a comment:</label>
                <input class="form-input" type="text" id="comment-text" data-post="{{post.id}}"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">submit</button>
            </div>
        </form>
    </div>
        {{else}}
        <a href="/login">Login to leave a comment</a>
        {{/if}}

</div>

<script src="/js/comment.js"></script>
